.card {
	background-color: rgb(121, 152, 218);
	color: rgb(223, 217, 217);
	box-shadow: 4px 4px 10px rgb(54, 54, 54);
	width: 300px;
	padding: 30px;
	text-align: center;
	margin: 20px auto;
	border-radius: 5px;
}

form {
	margin: 30px;
}

form label {
	padding: 4px 20px;
	background-color: rgb(73, 67, 67);
	margin: 5px;
}

.addBtn {
	background-color: rgb(157, 236, 187);
	color: rgb(85, 80, 80);
	padding: 5px 10px;
	margin: 5px;
	border: none;
}

.subBtn {
	background-color: rgb(238, 143, 143);
	color: rgb(85, 80, 80);
	padding: 5px 10px;
	margin: 5px;
	border: none;

}
